@{
}

<div class="container mt-2">
    <p style="color:white;font-weight:600;background-color:cornflowerblue;padding:10px;border-radius:10px;text-align:center;">
        @ViewBag.message
    </p>
</div>