@{
    ViewData["Title"] = "Şifre Güncelleme";
    Layout = "_Layout";
}
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial");
}
@model PasswordChangeViewModel
<div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-6">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Şifre Güncelleme</h1>
                            </div>
                            <div asp-validation-summary="ModelOnly" id="errMsg" style="color:white;font-weight:500;background-color:red;border-radius:5px;">
                                @ViewBag.Message
                            </div>
                            <form class="user" method="post">
                                <div class="form-group">
                                    <input type="password" asp-for="OldPassword" class="form-control form-control-user" placeholder="Eski Şifre">
                                    <span class="text-danger" asp-validation-for="OldPassword"></span>
                                </div>
                                <div class="form-group">
                                    <input type="password" asp-for="NewPassword" class="form-control form-control-user" placeholder="Yeni Şifre">
                                    <span class="text-danger" asp-validation-for="NewPassword"></span>
                                </div>
                                <div class="form-group">
                                    <input type="password" asp-for="NewPasswordConfirm" class="form-control form-control-user" placeholder="Yeni Şifre Onay">
                                    <span class="text-danger" asp-validation-for="NewPasswordConfirm"></span>
                                </div>
                                <input type="submit" class="btn btn-primary btn-user btn-block" value="Kaydet" />
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

