<div class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url(~/images/bg_4.jpg);"
     data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="js-fullheight d-flex justify-content-center align-items-center">
        <div class="col-md-8 text text-center">
            <img class="img mb-4" src="~/images/profile.jpg" />
            <div class="desc">
                <h2 class="subheading">Merhaba ben</h2>
                <h1 class="mb-4">Enes Çakır</h1>
                <p class="mb-4">
                    neredekal.com şirketinde Jr. Yazılım Mühendisi olarak çalışmaktayım.
                </p>
                <ul class="ftco-social mt-3">
                    <li class="ftco-animate">
                        <a href="https://www.linkedin.com/in/kuzudoli">
                            <span class="icon-linkedin"></span>
                        </a>
                    </li>
                    <li class="ftco-animate">
                        <a href="https://www.github.com/kuzudoli">
                            <span class="icon-github"></span>
                        </a>
                    </li>
                    <li class="ftco-animate">
                        <a href="https://www.instagram.com/kuzudoli">
                            <span class="icon-instagram"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>