@{
    ViewData["Title"] = "Giriş Yap";
    Layout = "_Layout";
}
@model SignInViewModel
<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-6">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Giriş Yap</h1>
                        </div>
                        <div asp-validation-summary="ModelOnly" id="errMsg" style="color:white;font-weight:500;background-color:red;border-radius:5px;">
                            @ViewBag.Message
                        </div>
                        <form class="user" method="post" asp-controller="Auth" asp-action="SignIn">
                            <div class="form-group">
                                <input type="email" asp-for="Email" class="form-control form-control-user" placeholder="Email">
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                            <div class="form-group">
                                <input type="password" asp-for="Password" class="form-control form-control-user" placeholder="Şifre">
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox small">
                                    <input type="checkbox" asp-for="RememberMe" class="custom-control-input" id="customCheck">
                                    <label class="custom-control-label" for="customCheck">
                                        Beni Hatırla
                                    </label>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary btn-user btn-block" value="Giriş Yap" />
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="#">Şifremi Unuttum</a>
                        </div>
                        <div class="text-center">
                            <a class="small" asp-controller="Auth" asp-action="SignUp">Kayıt Ol</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

