@model List<CategoryViewModel>
@{
    ViewData["Title"] = "GetAll";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h3>Kategoriler</h3>
    <a asp-route="AddCategory" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-plus-square"></i> Yeni Kategori
    </a>
</div>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th width="5%">ID</th>
                        <th width="15%">Kategori Adı</th>
                        <th width="15%">İşlemler</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Kategori Adı</th>
                        <th width="15%">İşlemler</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var category in Model)
                    {
                        <tr>
                            <td>@category.Id</td>
                            <td>@category.Name</td>
                            <td>
                                <a asp-controller="Category" asp-action="UpdateCategory" asp-route-id="@category.Id" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
                                    <i class="fas fa-edit"></i> Güncelle
                                </a>

                                <a asp-controller="Category" asp-action="DeleteCategory" asp-route-id="@category.Id" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm">
                                    <i class="fas fa-trash"></i> Sil
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>